header {
height: 70px;

display: flex;
align-items: center;
justify-content: space-between;

padding: 0 30px;

background-color: #111827;
color: white;

}

.header-logo h1 {
margin: 0;
font-size: 22px;
}

.header-nav {
    display: flex;
    gap: 25px;
}

.header-nav a {
color: white;
text-decoration: none;

font-size: 14px;

}

.header-nav a:hover {
    text-decoration: underline;
}